{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/revenue.js"></script>
  <script type="text/javascript">
    var obj = new Dividend.Tool();
    obj.Init();
  </script>
  <div class="row-fluid">
    <div class="span4">
      <h4><span id="symbol" ></span><span id="revenue_type"></span></h4>
    </div>
    </button>
  </div>
  <div id="Result">
  </div>
  <div id="table_result">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        {% for head in dividend_head %}
        <td>{{ head }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for dividend_items in dividend_body %}
      <tr>
        {% for item in dividend_items %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}