{% extends "analysis/index.html" %}

{% block analysis_content %}
  <h4>{{ stock_id }}</h4>
  <script type="text/javascript">
  var drawTool = new DrawDividend.Tool();
  drawTool.Init();
  </script>
  <div id="Result">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        {% for head in dividend_head %}
        <td>{{ head }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for dividend_items in dividend_body %}
      <tr>
        {% for item in dividend_items %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}