{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/revenue.js"></script>
  <script type="text/javascript">
    var obj = new Dividend.Tool();
    obj.Init();
  </script>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <h4><span id="symbol" ></span></h4>
    </div>
    <div class="span4">
      <h4><span id="data_type"></span></h4>
    </div>
  </div>
  <div id="chart_result">
  </div>
  <div id="table_result">
  </div>
{% endblock %}