{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/highstocks/js/highstock.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/drawChart.js"></script>
<script type="text/javascript">
$( document ).ready( function() {

  $( '#analysis').attr('class', 'active');

  $( '#searchSubmit' ).click( function() {
    // alert(window.location.pathname);
    q = $( '#q' ).val();
    //stockid
    //action , revenue_month
    //load.(/action/stockid)
    $( '#q' ).html( '&nbsp;' ).load( '{% url "set_stockid" %}?q=' + q , 
      function(){ 
        window.location.replace(window.location.pathname);
    });
    
  });
});

$( document ).ajaxStart( function() {
  $( '#spinner' ).show();
}).ajaxStop( function() {
    $( '#spinner' ).hide();
});
</script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-offset-4">
        <div class="input-group">
          <input id="q" type="search" class="form-control">
          <span class="input-group-btn">
          <button id="searchSubmit" class="btn btn-default" type="button">Search!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    <div class="row">
      <div class="col-md-2">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; ">
          <li class="dropdown-submenu">
            <a class="" href="#">  基本分析</a>
            <ul class="dropdown-menu">
              <li><a href="/revenue/">營收盈餘</a></li>
              <li><a href="/dividend/">股利政策</a></li>
              <li><a href="/profitability/">獲利能力</a></li>
              <li><a href="/performance_per_share/">每股盈餘</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="#">  財務分析</a>
            <ul class="dropdown-menu">
              <li><a href="/roe/">ROE/ROA</a></li>
              <li><a href="/current_ratio/">流動比/速動比</a></li>
              <li><a href="/debt_ratio/">負債比率</a></li>
              <li><a href="/turnover_ratio/">經營週轉率</a></li>
              <li><a href="/interest_cover/">利息保障倍數</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="#">  成長力分析</a>
            <ul class="dropdown-menu">
              <li><a href="/revenue_growth_rate/">營收成長率</a></li>
              <li><a href="/operating_profit_growth_rate/">營業利益成長率</a></li>
              <li><a href="/net_before_tax_profit_growth_rate/">稅前淨利成長率</a></li>
              <li><a href="/net_after_tax_profit_growth_rate/">稅後淨利成長率</a></li>
              <li><a href="/assets_growth_rate/">總資產成長率</a></li>
              <li><a href="/net_value_growth_rate/">淨值成長率</a></li>
              <li><a href="/fixed_assets_growth_rate/">固定資產成長率</a></li>
            </ul>
          </li>
          <li><a href="#">  籌碼分析</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        {% block analysis_content %}
        {% endblock %}
    </div>
  </div>
{% endblock %}
