{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/revenue.js"></script>
  <script type="text/javascript">
    var obj = {{ drawTool }}
    obj.Init();
  </script>
  <br>
  <div class="row-fluid">
    <div class="col-md-3">
      <h4><span id="symbol" ></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span id="data_type">利息保障倍數</span></h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
      <button id="season_interest_cover" class="btn btn-success">季度</button>
      <button id="year_interest_cover" class="btn btn-primary">年度</button>
      </div>
    </div>
    <div id="chart_result">
    </div>
    <div id="table_result">
    </div>
  </div>
{% endblock %}