{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/revenue.js"></script>
  <script type="text/javascript">
    var obj = {{ drawTool }}
    obj.Init();
  </script>
  <br>
  <div class="row-fluid">
    <div class="span2">
      <h4><span id="symbol" ></span></h4>
    </div>
    <div class="span4">
      <h4><span id="data_type"></span></h4>
    </div>
    <div class="row">
    <div class="span4 offset8">
      <button id="month_revenue" class="btn btn-primary">月營收</button>
      <button id="season_revenue" class="btn btn-primary">季營收</button>
      <button id="season_profit" class="btn btn-primary">季盈餘</button>
    </div>
  </div>
    </button>
  </div>
  <div id="chart_result">
  </div>
  <div id="table_result">
  </div>
{% endblock %}