{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript">
  $( document ).ready( function() {
      $( '#season_revenue' ).click( function() {
          path = '/revenue/season/';
          if (window.location.pathname != path) {
              window.location.replace('/revenue/season/');
          }
      });
      $( '#month_revenue' ).click( function() {
          path = '/revenue/month';
          if (window.location.pathname != path) {
              window.location.replace('/revenue/month/');
          }
      });
  });
  </script>
  <br>
  <div class="row-fluid">
    <div class="span4">
      <h4>{{ stock_id }}{{ revenue_title }}</h4>
    </div>
    <div class="span4 offset4">
      <button id="month_revenue" class="btn btn-primary">月營收</button>
      <button id="season_revenue" class="btn btn-primary">季盈餘</button>
    </div>
    </button>
  </div>
  <script type="text/javascript">
  if (window.location.pathname == '/revenue/month/') {
    var drawTool = new Draw.Tool();
    drawTool.DrawMonth();
  } else if (window.location.pathname == '/revenue/season/') {
    var drawTool = new Draw.Tool();
    drawTool.DrawSeason();
  }
  </script>
  <div id="Result">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        {% for head in revenue_head %}
        <td>{{ head }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for revenue_items in revenue_body %}
      <tr>
        {% for item in revenue_items %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}