{% extends "analysis/index.html" %}

{% block analysis_content %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/revenue.js"></script>
  <script type="text/javascript">
    var obj = new ROE.Tool();
    obj.Init();
  </script>
  <br>
  <div class="row-fluid">
    <div class="span2">
      <h4><span id="symbol" ></span></h4>
    </div>
    <div class="span4">
      <h4><span id="data_type"></span></h4>
    </div>
    <div class="row">
      <div class="span4 offset8">
      <button id="season_roe_roa" class="btn btn-primary">季度</button>
      <button id="year_roe_roa" class="btn btn-primary">年度</button>
      </div>
    </div>
    <div id="chart_result">
    </div>
    <div id="table_result">
    </div>
  </div>
{% endblock %}