<!doctype html>
<html lang="en">
<head>
<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script>
	$(document).ready(function () {
		$( "#id_venue" ).autocomplete({
       		source : "/venue_lookup/",
           	selectFirst : true,
           	minLength : 2
        });
	});
</script>
</head>
<body>
<form method="post" action="/shows/new">
        <p><label for="id_venue">Venue</label>
        <input type="text" id="id_venue" name="venue" /></p>
	<input type="submit" value="done" />
</form>

<label for="autocomplete">Select a programming language: </label>
<input id="autocomplete">
 
<script>
$( "#autocomplete" ).autocomplete({
  source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
});
</script>

</body>
</html>