{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/update.js"></script>
<script type="text/javascript">
  var UpdateData = new UpdateData.Update();
  UpdateData.Init();
</script>
<style>
  .input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  table {
    table-layout: fixed;
  }
</style>
{% endblock %}

{% block content %}
  <br>
  <div class="container" style="width:80%">
    <div>
      <table class="table">
        <tbody>
          <tr class="active">
            <td width='120px'>項目</td>
            <td width='100px'>最近更新日</td>
            <td width='100px'>最新資料日期</td>
            <td width='100px'>執行</td>
            <td width='100px'>資料庫檢查</td>
            <td width='220px'>日期設定</td>
            <td>備註</td>
          </tr>
          <tr class="info">
            <td>股票代號</td>
            <td class="stockid_updateDate">{{updateData.stockID.updateDate}}</td>
            <td class="stockid_dataDate">{{updateData.stockID.dataDate}}</td>
            
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_stockid">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
            </td>
            <td class="stockid_notes">{{updateData.stockID.notes}}</td>
          </tr>
          <tr class="success">
            <td>月營收</td>
            <td class="mr_updateDate">{{updateData.mr.updateDate}}</td>
            <td class="mr_dataDate">{{updateData.mr.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_mr">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_mr">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Month To:Year-Month</label>
              <input type="text" class="form-control input-xs mr_date" placeholder="From:Year-Month To:Year-Month">
            </td>
            <td class="mr_notes">{{updateData.mr.notes}}</td>
          </tr>
          <tr class="success">
            <td>季營收</td>
            <td class="sr_updateDate">{{updateData.sr.updateDate}}</td>
            <td class="sr_dataDate">{{updateData.sr.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_sr">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_sr">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Season To:Year-Season</label>
              <input type="text" class="form-control input-xs sr_date" placeholder="From:Year-Season To:Year-Season">
            </td>
            <td class="sr_notes">{{updateData.sr.notes}}</td>
          </tr>
          <tr class="warning">
            <td>綜合損益表(季)</td>
            <td class="sis_updateDate">{{updateData.sis.updateDate}}</td>
            <td class="sis_dataDate">{{updateData.sis.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_sis">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_sis">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Season To:Year-Season</label>
              <input type="text" class="form-control input-xs sis_date" placeholder="From:Year-Season To:Year-Season">
            </td>
            <td class="sis_notes">{{updateData.sis.notes}}</td>
          </tr>
          <tr class="warning">
            <td>資產負債表(季)</td>
            <td class="sbs_updateDate">{{updateData.sbs.updateDate}}</td>
            <td class="sbs_dataDate">{{updateData.sbs.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_sbs">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_sbs">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Season To:Year-Season</label>
              <input type="text" class="form-control input-xs sbs_date" placeholder="From:Year-Season To:Year-Season">
            </td>
            <td class="sbs_notes">{{updateData.sbs.notes}}</td>
          </tr>
          <tr class="warning">
            <td>現金流量表(季)</td>
            <td class="scf_updateDate">{{updateData.scf.updateDate}}</td>
            <td class="scf_dataDate">{{updateData.scf.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_scf">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_scf">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Season To:Year-Season</label>
              <input type="text" class="form-control input-xs scf_date" placeholder="From:Year-Season To:Year-Season">
            </td>
            <td class="scf_notes">{{updateData.scf.notes}}</td>
          </tr>
          <tr class="warning">
            <td>財物比率(季)</td>
            <td class="sfr_updateDate">{{updateData.sfr.updateDate}}</td>
            <td class="sfr_dataDate">{{updateData.sfr.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_sfr">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_sfr">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year-Season To:Year-Season</label>
              <input type="text" class="form-control input-xs sfr_date" placeholder="From:Year-Season To:Year-Season">
            </td>
            <td class="sfr_notes">{{updateData.sfr.notes}}</td>
          </tr>
          <tr class="danger">
            <td>綜合損益表(年)</td>
            <td class="yis_updateDate">{{updateData.yis.updateDate}}</td>
            <td class="yis_dataDate">{{updateData.yis.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_yis">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_yis">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year To:Year</label>
              <input type="text" class="form-control input-xs yis_date" placeholder="From:Year To:Year">
            </td>
            <td class="yis_notes">{{updateData.yis.notes}}</td>
          </tr>
          <tr class="danger">
            <td>現金流量表(年)</td>
            <td class="ycf_updateDate">{{updateData.ycf.updateDate}}</td>
            <td class="ycf_dataDate">{{updateData.ycf.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_ycf">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_ycf">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year To:Year</label>
              <input type="text" class="form-control input-xs ycf_date" placeholder="From:Year To:Year">
            </td>
            <td class="ycf_notes">{{updateData.ycf.notes}}</td>
          </tr>
          <tr class="danger">
            <td>財務比率(年)</td>
            <td class="yfr_updateDate">{{updateData.yfr.updateDate}}</td>
            <td class="yfr_dataDate">{{updateData.yfr.dataDate}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs update_yfr">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-xs check_yfr">
                檢查 <span class="glyphicon glyphicon-refresh"></span>
              </button></td>
            </td>
            <td>
              <label class="col-sm sr-only">From:Year To:Year</label>
              <input type="text" class="form-control input-xs yfr_date" placeholder="From:Year To:Year">
            </td>
            <td class="yfr_notes">{{updateData.yfr.notes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}