{% extends "base.html" %}

{% block content %}
  <br>
  <div class="container">
    <div class="row col-md-offset-1 col-md-10">
      <table class="table">
        <tbody>
          <tr>
            <td>名稱</td>
            <td>最後更新日</td>
            <td>更新筆數</td>
            <td>更新</td>
            <td>檢查</td>
            <td>日期設定</td>
          </tr>
          <tr>
            <td><h4>股票代號</h4></td>
            <td>
              <button type="submit" class="btn btn-primary">
                更新 <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="success">
            <td>月營收</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="warning">
            <td>Hello</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}