<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Stock Analysis</title>
	  <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
  	  <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
  	  <style type="text/css">
  		body {
  			padding-top: 60px;
  			padding-bottom: 40px;
  		}
  		.sidebar-nav {
  			padding: 9px 0;
  		}
  	  </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container">
		  <ul class="nav">
			<li>
			  <a href="#index.html">Home</a>
			</li>
			<li>
			  <a href="#stock_analysis">個股分析</a>
			</li>
			<li>
			  <a href="#financial_stock">財報選股</a>
		    </li>
		  </ul>
		</div>
	  </div>
	</div>
	<div>
	  <div class="span12">
		<form class="navbar-form">
		  <input class="span2" type="text" placeholder="股票代號">
		  <button type="submit" class="btn">確定</button>
		</form>
	  </div>
	</div>
    <script type="text/javascript" src="/static/js/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap/bootstrap.js"></script>
  </body>
</html>