{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/StockFilter.js"></script>
<script type="text/javascript">
	var filter = new StockFilter.Filter();
	filter.Init();
	
</script>

<style type="text/css">
.condition{
	margin:2em;
}

.conditionTable td{
	border: solid 1px #33333;
}

.conditionTable input.dateCnt{
	border: solid 1px #33333;
	width: 3em;
}

input.dateCnt{
	border: solid 1px #33333;
	width: 3em;
}

.oddsTextBox-fraction{width:27px}

.form-test {
  /*display: block;*/
  width: 50px;
  height: 26px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  /*vertical-align: middle;*/
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

</style>
<br><br>
<div class="container">
<div class="row-fluid">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
	<button type="button" class="btn btn-success">基本資料</button>
	<button type="button" class="btn btn-primary">財務比率</button>
	<button type="button" class="btn btn-primary">成長力</button>
	<button type="button" class="btn btn-primary">籌碼</button>
  </div>
</div>
</div>
<br>
<div class="container">
	<div class="col-md-4">
		<table class="table table-hover">
			<tr>
			<td>月營收連續 <select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			月 年增率大於<input type="search" pattern="[0-9]*" step="any" class="form-test" maxlength="5">%<button class="btn-primary">Add</button></td>
			
			</tr>
			<tr><td class="active">營收年增率</td>
			</tr>
		</table>
		
	</div>
	<div class="col-md-4">Hello</div>
	<div class="col-md-4">Hello</div>
</div>
{% endblock %}