<table class="table" rules="none" >
  <tbody>
    <tr>
      <td class="filter1">連續</td>
      <td class="filter_input">
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td class="filter2">現金股利大於</td>
      <td class="filter_input">
        <input type="" style="width: 45px; padding: 1px"> 元</input> 
      </td>
      <td class="filter_button">
    	  <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>連續</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>股票股利大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 元</input> 
      </td>
      <td>
      	<button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>連續</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>現金配股率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 元</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>最近</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>現金股利平均大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 元</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>最近</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>股票股利平均大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 元</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
  </tbody>
</table>