<style type="text/css">
  .add_button{ float:right; }
  .filter_title{font-weight: bold;}
  .filter_input{
    width: 45px;
    height: 22px;
  }
</style>
<table class="table filter_choice_table">
  <tbody>
    <!-- <tr>
      <td class="warning filter_title">月營收</td>
    </tr>
    <tr>
      <td class="warning m_revenue_yoy">
        最近
        <input type="text" style="width: 45px; padding: 1px; height: 22px"></input>
          月內有
        <input class="filter_input m_revenue_yoy_cnt" type="text" > </input>
        月營收年增率大於
        <input class="filter_input m_revenue_yoy_match_cnt" type="text"></input> %
        <button type="submit" class="btn btn-primary btn-xs add_button" id="m_revenue_yoy_button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td class="filter_input warning">
        連續
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input>
        月
        營收年增率大於
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input> %
        <button type="submit" class="btn btn-primary btn-xs add_button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td class="success filter_title">季營收</td>
    </tr>
    <tr>
      <td class="filter_input success">
        最近
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input>
          季內有
        <input id="RevenueYoY-matchcnt" type="text" style="width: 45px; padding: 1px; height: 22px"> </input>
        季營收年增率大於
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input> %
        <button type="submit" class="btn btn-primary btn-xs add_button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td class="success">
        連續
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input>
        季
        營收年增率大於
        <input class="filter_input" id="RevenueYoY-cnt" type="text"></input> %
        <button type="submit" class="btn btn-primary btn-xs add_button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr> -->
  </tbody>
</table>