{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/StockFilter.js"></script>
<script type="text/javascript">
	var filter = new StockFilter.Filter();
	filter.Init();
	
</script>

<style type="text/css">
.condition{
	margin:2em;
}

.conditionTable td{
	border: solid 1px #33333;
}

.conditionTable input.dateCnt{
	border: solid 1px #33333;
	width: 3em;
}

</style>
<div style="margin:2em 0 0 6em">

<div class="condition">
	<button type="button" id="StartFilter" class="btn btn-primary">Go</button>
	<span id="Message"></span>
</div>
<div class="condition">
<fieldset>
<legend>月營收</legend>
	<table class="conditionTable">
		<tr>
			<td>
				<!--
				<input type="checkbox" id="MonthRevenueContinuousAnnualGrowth" class="css-checkbox med" checked=""/>
				<label for="MonthRevenueContinuousAnnualGrowth" name="checkbox65_lbl" class="css-label med elegant"></label>
				-->
				<input type="checkbox" id="con-reveune_ann_growth_rate" class="css-checkbox" />
				<label for="con-reveune_ann_growth_rate" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td>
				連續 <input type="text" id="reveune_ann_growth_rate-cnt" class="dateCnt"/> 月
			<td>
			<td>
				年增率大於 <input type="text" id="reveune_ann_growth_rate-value"  placeholder=""/> (%)
			<td>
		</tr>
		<tr>
			<td>
				<!--
				<input type="checkbox" id="MonthRevenueContinuousAnnualGrowth" class="css-checkbox med" checked=""/>
				<label for="MonthRevenueContinuousAnnualGrowth" name="checkbox65_lbl" class="css-label med elegant"></label>
				-->
				<input type="checkbox" id="con-reveune_s_ann_growth_rate" class="css-checkbox" />
				<label for="con-reveune_s_ann_growth_rate" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td>
				連續 <input type="text" id="reveune_s_ann_growth_rate-cnt" class="dateCnt"/> 季
			<td>
			<td>
				年增率大於 <input type="text" id="reveune_s_ann_growth_rate-value"  placeholder=""/> (%)
			<td>
		</tr>
	</table>
</fieldset>

<fieldset>
<legend>財務比率 - 季</legend>
	<table class="conditionTable">
		<tr>
			<td>
				<!--
				<input type="checkbox" id="MonthRevenueContinuousAnnualGrowth" class="css-checkbox med" checked=""/>
				<label for="MonthRevenueContinuousAnnualGrowth" name="checkbox65_lbl" class="css-label med elegant"></label>
				-->
				<input type="checkbox" id="con-opm_s" class="css-checkbox" />
				<label for="con-opm_s" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td>
				連續 <input type="text" id="opm_s-cnt"   class="dateCnt"/> 季
			<td>
			<td>
				營益率 <input type="text" id="opm_s-value" /> (%)
			<td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" id="con-gpm_s" class="css-checkbox" />
				<label for="con-gpm_s" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td>
				連續 <input type="text" id="gpm_s-cnt"  class="dateCnt"/> 季
			<td>
			<td>
				毛益率  <input type="text" id="gpm_s-value"  placeholder=""/> (%)
			<td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" id="con-gpm_s_gtn_pre_avg" class="css-checkbox" />
				<label for="con-gpm_s_gtn_pre_avg" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td colspan="2">毛利率 > 前 <input type="text" id="gpm_s_gtn_pre_avg-cnt"  class="dateCnt"/> 季平均</td>
		</tr>
	</table>	
</fieldset>

<fieldset>
<legend>法人買賣超</legend>
	<table class="conditionTable">
		<tr>
			<td>
				<!--
				<input type="checkbox" id="MonthRevenueContinuousAnnualGrowth" class="css-checkbox med" checked=""/>
				<label for="MonthRevenueContinuousAnnualGrowth" name="checkbox65_lbl" class="css-label med elegant"></label>
				-->
				<input type="checkbox" id="Con-CorpOverBuy" class="css-checkbox" />
				<label for="Con-CorpOverBuy" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
			</td>
			<td>
				連續 <input type="text" id="CorpOverBuy-Cnt" class="dateCnt"/>天
			<td>
			<td>
				買超大於 <input type="text" id="CorpOverBuy-OverCnt"  placeholder=""/> (張)
			<td>
		</tr>
	</table>	
</fieldset>
</div>

<div id="FilterResult" class="condition"></div>

</div>
{% endblock %}