<script type="text/javascript">
  $('#fitler_menu_revenue').treetable({ expandable: true });
</script>
<table id="fitler_menu_revenue" class="table" rules="none" >
  <tbody>
    <tr data-tt-id="1">
      <td class="filter1">連續</td>
      <td class="filter_input">
        <input type="" style="width: 45px; padding: 1px"> 月</input>
      </td>
      <td class="filter2">營收年增率大於</td>
      <td class="filter_input">
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td class="filter_button">
    	  <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr data-tt-id="2" data-tt-parent-id="1">
      <td>連續</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 季</input>
      </td>
      <td>營收年增率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td>
      	<button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>連續</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>營收年增率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>最近</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 月</input>
      </td>
      <td>營收平均年增率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>最近</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 季</input>
      </td>
      <td>營收平均年增率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
    <tr>
      <td>最近</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> 年</input>
      </td>
      <td>營收平均年增率大於</td>
      <td>
        <input type="" style="width: 45px; padding: 1px"> %</input> 
      </td>
      <td>
        <button class="btn btn-primary" style="width: 45px; padding: 1px">Add</button>
      </td>
    </tr>
  </tbody>
</table>